{% extends "base.html" %} {% block title %}Inicio/Buscar{% endblock %} {% block
content %}

<div class="search-container">
  <form action="{{ url_for('index') }}" method="get" class="search-input">
    <input
      class="search-placeholder"
      type="text"
      name="q"
      placeholder="Buscar productos..."
      value="{{ request.args.get('q', '') }}"
    />
    <button type="submit" class="btn">Buscar</button>
  </form>
</div>

<ul class="product-list">
  {% for product in productos %}
  <li class="product-item">
    <a href="{{ url_for('detalle_producto', id=product.id) }}" class="product-link">
      <img
        src="{{ url_for('static', filename='uploads/' + product.img) }}"
        alt="{{ product.name }}"
        class="product-image"
      />
    </a>

    <h2>{{ product.name }}</h2>
    <p className="margin-bottom: 10px">
      Precio: {{ "%.2f"|format(product.price) }}€
    </p>
    {% if 'user' in session %}
      <form
        action="{{ url_for('agregar_al_carrito', producto_id=product.id) }}"
        method="POST"
      >
        <button type="submit" class="btn">Añadir al carrito</button>
      </form>
      {% endif %}
  </li>
  {% else %}
  <div class="flash-message">
    <p class="flash-info">No se encontraron productos.</p>
  </div>

  {% endfor %}
</ul>

{% endblock %}
