<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Sistema de Login{% endblock %}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-links">
        <a href="{{ url_for('index') }}" class="nav-link">Catálogo</a>

        {% if 'user' not in session %}
        <a href="{{ url_for('login') }}" class="nav-link">Iniciar Sesión</a>
        {% else %}
        <a href="{{ url_for('carrito') }}" class="nav-link">Carrito</a>
        {% if 'admin' in session['roles'] %}
        <a href="{{ url_for('nuevo_producto') }}" class="nav-link"
          >Añadir Producto</a
        >
        {% endif %}
        <a href="{{ url_for('logout') }}" class="nav-link">Cerrar Sesión</a>
        {% endif %}
      </div>
    </nav>

    <div class="container">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="flash-messages">
        {% for category, message in messages %}
        <div class="flash flash-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>

      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
